body{
    background-image: url(Images/trad2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.jumbotron{
    border-radius: 10%;
    background-color: rgb(170, 191, 250);

}

p{
    font-size: 14px ;
}

h3{
    font-style: oblique;
}

form {
    padding-top: 60px;
    padding-left: 100px;
    padding-bottom: 20px;
}